server:
  port: 9055

spring:
  application:
    name: teacher-service

    resource-url: http://localhost:8080/realms/tandem/protocol/openid-connect/token


    security:
      oauth2:
        client:
        registration:
          keycloak:
            client-id: teacher-client # УБЕДИТЕСЬ, ЧТО ЭТО ПРАВИЛЬНЫЙ CLIENT ID В KEYCLOAK
            client-secret: U18g2J555hbLPRxyWBYLX13ujGHbLcMq # УБЕДИТЕСЬ, ЧТО ЭТО ПРАВИЛЬНЫЙ СЕКРЕТ
            client-authentication-method: client_secret_basic
            authorization-grant-type: authorization_code
            redirect-uri: "{baseUrl}/login/oauth2/code/{registrationId}"
            scope: openid,profile,email
            client-name: Keycloak

      provider: # <-- ПЕРЕМЕЩЕНО НА ПРАВИЛЬНЫЙ УРОВЕНЬ
        keycloak:
          issuer-uri: http://localhost:8080/realms/tandem # УБЕДИТЕСЬ, ЧТО ЭТО ПРАВИЛЬНЫЙ REALM В KEYCLOAK
          user-name-attribute: preferred_username



  datasource:
    url: jdbc:postgresql://localhost:5433/postDb
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true


logging:
  level:
    root: info
    org.springframework: INFO
    org.hibernate: INFO
    org.hibernate.SQL: DEBUG
    org.hibernate.type.descriptor.sql.BasicBinder: TRACE
    org.springframework.security: DEBUG # КРИТИЧНО для отладки
    org.keycloak: DEBUG

